<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    .btn-edit{
        outline: none;
        border: none;
        background: orange;
        height : 25px;
        width : 50px;
        border-radius: 3px;
        cursor: pointer;
    }
    .btn-delete{
        outline: none;
        border: none;
        background: red;
        height : 25px;
        width : 50px;
        border-radius: 3px;
        cursor: pointer;
    }
</style>

<body>
    <table style = "width:100%">
        <tr>
            <th>Account</th>
            <th>Full Name</th>
            <th>Personal ID</th>
            <th>Number Plate</th>
            <th>Action</th>
        </tr>
        <% for (let i = 0; i < dataTable.length; i++) { %>
            <tr>
                <td><%= dataTable[i].account %></td>
                    <td><%= dataTable[i].fullName %></td>
                    <td><%= dataTable[i].cccd %></td>
                    <td><%= dataTable[i].numberPlate %></td>
                    <td>
                        <a>
                            <button class = "btn-edit" type = "button" onclick="window.location.href='/edit-crud?id=<%= dataTable[i].id %>'">Edit</button>
                        </a>
                        <a>
                            <button class = "btn-delete" type = "button" onclick="window.location.href='/delete-crud?id=<%= dataTable[i].id %>'">Delete</button>
                        </a>
                    </td>
                    <!-- <td><button clas s = "btn-edit" type = "button">Edit</button></td> -->
            </tr>
        <% } %>
        
    </table>
</body>
</html>